* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#connexion {
width:30px;
height:30px;
float:right;
margin-top:7px;
}

#entete {
	background-color:#36659f;
	border-bottom: 40px solid transparent;
	display:block inline;
}
#titre {
font-size: 100px;

}

h2 {
	
}
.policedeco a  {
  float:right;
  display: block;
  color: silver;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight:bold;
}
.policedeco a:hover {
  background-color: #1f3a5a;
  color: white;
  height:40px;
}

/* Style the header */
.header {
  padding: 30px;
  text-align: center;
  background: #CCC;
  color: white;
  background-repeat:no-repeat;
}

#snk {
	width:240px;
	height:250px;
	
}
/* Increase the font size of the h1 element */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden ;
  background-color: #36659f;
  font-weight:bold
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: silver;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #1f3a5a;
  color: white;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 15%;
  background-color: #f1f1f1;
  padding: 20px;
}

#colonnegauche {
	background-color:#AAA;
	width:244px;
	padding:10px;
}
#moipendant{
	margin-top:70px;
}
/* Main column */
.main {   
  flex: 85%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 970px;
  padding: 10px;
}



.row1 > .column1 {
  padding: 0 8px;
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

.column1 {
  float: left;
  width: 100%;
}
.column2 {
  float: left;
  width: 25%;
}

#snk2{
	height:1000px;
	width:900px;
	margin-left:100px;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.Jeucon{
	background-color:#555;
	border: 5px solid black; 
	border-color: black;
	width:100%;
	height:600px;
}
.jeu {
	border: 2px solid black; 
	border-color: black;
	margin-top:50px;
	background-color:silver;
	position:absolute;
	width:800px;
	height:500px;
	margin-left:400px;
}

.Joueur {
	padding:10px;
	background-color:#999;
	width:50%;
}

.ennemis {
  background-color:red;
  margin-top:40%;
  margin-left:400px;
  height:12.5%;
}

#Vieen {
	padding:10px;
}